@model IDYGS81_MariaSosa.Models.Servicio
@{

    Layout = "_LayoutDashboard";
}


<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Editar un servicio</strong></h1>

            </div>
            <div class="card-body">
                <form asp-action="Crear" method="post">

                    <div class="form-group">
                        <label asp-for="Titulo" class="control-label"> </label>
                        <input asp-for="Titulo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"> </label>
                        <input asp-for="Descripcion" class="form-control" />
                    </div>

                    <div class=" form-group mt-3">
                        <button class="btn btn-secondary d-block mx-auto"> Guardar</button>
                    </div>
                </form>

                <a asp-controller="Servicio" asp-action="Index"> Volver</a>

            </div>

        </div>



    </div>


</div>

